#banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: url(../img/intersection.png) no-repeat;
  height: 88vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(80%);
}

#banner-wrapper #text-container {
  text-align: center;
  color: white;
}

#banner-wrapper #text-container h1 {
  font-size: 3.4rem;
}

#banner-wrapper #text-container h1 a {
  color: var(--gold);
  font-size: 3.4rem;
}

#banner-wrapper #text-container h2 {
  font-size: 1.2rem;
  max-width: 50%;
  margin: auto;
  padding: 14px;
} 

#banner-wrapper #text-container > a {
  display: inline-block;
  margin-top: 30px;
  background-color: var(--dark-blue);
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}