@media only screen and (max-width: 600px) {
  #header #logo-container {
    margin: auto;
  }

  #banner-wrapper #text-container h1 {
    font-size: 1.5rem;
  }

  #banner-wrapper #text-container h1 a {
    display: block;
  }

  #banner-wrapper {
    justify-content: center;
    background-position: 60% 10%;
  }

  #navbar {
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
  #card-wrapper {
    flex-direction: column;
  }
  .card {
    margin-bottom: 40px;
  }
}