/* A parte que fica em cima */
header {
  background-color: var(--dark-blue);
}

/* De forma similar ao footer, essa div serve pra ajustar os espaços em branco nas pontas */
header > div {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  /* Esse tamanho foi pra ficar parecido com o Mockup */
  width: 85%;
}

/* A logo e o texto ficam aqui */
#logo-container {
  display: flex;
  align-items: center;
}

/* Regulando o tamanho da logo */
#logo {
  max-width: 100%;
  max-height: 50px;
}

/* O texto branco e ajustando suas margens */
#logo-container h2 {
  color: white;
  margin: 15px 50px 15px 15px;
  max-width: 50px;
  font-size: 1.3rem;
}

/* A parte da navbar */
#navbar {
  display: flex;
  margin: 0;
  /* Tirar o estilo de lista do ul/li */
  list-style-type: none;
}

/* Aqui são os "botões" de cada li*/
#navbar li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem
}

/* Perder opacidade quando o moues estiver em cima */
#navbar li a:hover {
  opacity: 0.7;
}